<script src="https://kit.fontawesome.com/a8946225b7.js" crossorigin="anonymous"></script>

<main>
  <p id="notice">
    <div class="container px-5 px-sm-0">
      <div class="row">
          
        <%= render 'books/book', books:@user  %>

        <div class="col-md-8 offset-md-1">
        <h1>Users</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= image_tag user.get_profile_image(100,100)%></td>
                  <td><%= user.name %></td>
                  <td><%= link_to "Show", user %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </p>
</main>
