<%= stylesheet_link_tag 'homes' %>
<script src="https://kit.fontawesome.com/a8946225b7.js" crossorigin="anonymous"></script>
  <main>

    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">
          Welcome to
          <i class="fa-solid fa-book"></i>
          <strong>Bookers</strong>
          !
        </h1>
      </div>
    </div>
  </main>

