<%= stylesheet_link_tag 'homes' %>
<script src="https://kit.fontawesome.com/a8946225b7.js" crossorigin="anonymous"></script>

  <div class="about-title">
    <h1>Welcome to

      <i class="fa-solid fa-book"></i>

    <storong>Bookers</storong>
    </h1>
  </div>