<%= stylesheet_link_tag 'homes' %>
<script src="https://kit.fontawesome.com/a8946225b7.js" crossorigin="anonymous"></script>

  <div class="sccial"></div>

  <main>
    <div class="top-title">
      <h1>
        welcome to
  
        <i class="fa-solid fa-book"></i>
  
        <storong>Bookers</storong>
        !!
      </h1>
    </div>  

      <div class="text">
        <p class="top-text">
          in

          <i class="fa-solid fa-book"></i>

          <storong>Bookers</storong>
          ,
        </p>
        <p class="top-text">
          you can share and exchange your opinions , inpressions , and emotions
        </p>
        <p class="top-text">
          about various books!
        </p>
      </div>

      <div class="nav-list-item">
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      </div>
      <div class="nav-list-item">
        <li>
          <%= link_to "Sign in", new_user_registration_path %>
        </li>
      </div>

  </main>

