* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navgation {
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
}

.nav-list-item {
  padding: 8px;
  display: flex;
  list-style: none;
  color: #fff;
}

.nav-list-item a {
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}