// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  margin: 0 160px;
}

.sccial i {
  dispiay: inline-block;
  margin-left: 20px;
}

.top-title {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.text {
  justify-content: center;
  align-items: center;

}

.top-text {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.about-title h1 {
  margin-bottom: 8px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
}